/*!
Theme Name: Eldon London
Theme URI: http://stockie.colabr.io/
Author: Kunal Dandona
Author URI: http://colabr.io/
Description: Stockie is a WordPress theme bundled with premium plugins to build a modern and functional website.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Template: stockie
Text Domain: stockie-child


*/

.wpb_revslider_element {
  h2, h4, span {
    font-family: futura-pt, sans-serif !important;
  }
}

body, h1, h2, h3, h4, h5, h6, a, p {
  font-family: futura-pt, sans-serif !important;
}

.site-footer .page-container + .site-info .wrap {
  border-top: 1px solid rgb(255, 255, 255);
}

.theme-logo h3 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
}

.header-cart {
  a {
    color: white;
  }
}

header {
  .menu {
    a {
      text-transform: uppercase;
    }
  }
}

.modal-content {
  background-color: rgba(0, 0, 0, 0.6);
  padding: .0em;
}

.submenu_cart {
  .cart_heading_title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2rem;
    border-bottom: 10px solid black;
    padding-bottom: 10px;
  }

  .font-titles {
    color: black;
  }

  .woo-c_product_category a {
    color: #171300;
  }

  .amount {
    font-weight: 300;
  }

  .woocommerce-mini-cart__total {
    text-transform: uppercase;
  }
}

.site-header .menu-other > li .cart-total > a {
  color: white;
}

@media (min-width: 1200px) {
  .vc_col-lg-8 {
    width: 100% !important;
  }

  .vc_col-lg-push-2 {
    left: 0 !important;
  }
}


@media (min-width: 992px) {
  .vc_col-lg-8 {
    width: 100% !important;
  }

  .vc_col-lg-push-2 {
    left: 0 !important;
  }
}

.message-box.primary {
  background: #b79b6c;
}


.header-search {
  background: rgba(0, 0, 0, 0.96);

  .suggestions, .product_search_description {
    color: white;
  }
}


@media (max-width: 550px) {
  header {
    .site-title {
      a {
        font-size: 20px !important;
      }
    }

    .header-cart {
      .cart-total {
        display: none;
      }
    }

    .site-header .menu-other > li > a.cart {
      padding: 0 !important;
    }
  }
}

header {
  z-index: 999 !important;
}


.woocommerce {
  display: flex;
  flex-direction: column;
  margin: 60px 0;
  padding-bottom: 80px !important;

  .registered_users {
    padding: 10px;
  }

  .woocommerce-notices-wrapper {
    order: 1;
  }

  .woocommerce-checkout {
    order: 2;
  }

  p {
    order: 0;
    margin-left: 10px;
  }

  .checkout_coupon {
    order: 0;
    margin-left: 10px;
  }

  .select {
    width: 100%;
  }

  .woocommerce-additional-fields {
    display: none;
  }

  ul.payment_methods li label img {
    max-height: unset;
  }

   .cclw_button {
    height: 50px;
     width: 100%;
    font-size: 1.5em;
    text-transform: uppercase;
  }

  #billing_company_field, .woo-c_product_category {
    display: none;
  }

  .qty {
    display: block;
  }
}



sup.menu-sub-items {
  display: none;
}
