/*!
Theme Name: Eldon London
Theme URI: http://stockie.colabr.io/
Author: Kunal Dandona
Author URI: http://colabr.io/
Description: Stockie is a WordPress theme bundled with premium plugins to build a modern and functional website.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Template: stockie
Text Domain: stockie-child


*/

.wpb_revslider_element {
  h2, h4, span {
    font-family: futura-pt, sans-serif !important;
  }
}

body, h1, h2, h3, h4, h5, h6, a, p {
  font-family: futura-pt, sans-serif !important;
}

.site-footer .page-container + .site-info .wrap {
  border-top: 1px solid rgb(255, 255, 255);
}

.theme-logo h3 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
}
.header-cart {
  a {
    color: white !important;
  }
}

header {
  .menu{
    a {
      text-transform: uppercase;
    }
  }
}

.subscribe-popup {
  background-color: rgba(0,0,0,0.6);
  padding: .0em;
}